<a href="https://colab.research.google.com/github/C45Nishit/AICS-LAB/blob/main/multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv("https://raw.githubusercontent.com/C45Nishit/AICS-LAB/main/50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
b4=[0 for x in range(len(df))]
b5=[0 for x in range(len(df))]
b6=[0 for x in range(len(df))]
for i in range(len(df)):
  if df['State'][i] == 'New York':
    b4[i]=1
  elif df['State'][i] == "California":
    b5[i]=1
  else:
    b6[i]=1
# if df['State'][0] == "New York":
#   print('ok')

In [8]:
b1=df['R&D Spend'].values
b2=df['Administration'].values
b3=df['Marketing Spend'].values
# b1=df[''].values
y=df['Profit'].values
x=[]
for i in range(len(b1)):
  x.append([b1[i],b2[i],b3[i],b4[i],b5[i],b6[i]])
print(x)

[[165349.2, 136897.8, 471784.1, 1, 0, 0], [162597.7, 151377.59, 443898.53, 0, 1, 0], [153441.51, 101145.55, 407934.54, 0, 0, 1], [144372.41, 118671.85, 383199.62, 1, 0, 0], [142107.34, 91391.77, 366168.42, 0, 0, 1], [131876.9, 99814.71, 362861.36, 1, 0, 0], [134615.46, 147198.87, 127716.82, 0, 1, 0], [130298.13, 145530.06, 323876.68, 0, 0, 1], [120542.52, 148718.95, 311613.29, 1, 0, 0], [123334.88, 108679.17, 304981.62, 0, 1, 0], [101913.08, 110594.11, 229160.95, 0, 0, 1], [100671.96, 91790.61, 249744.55, 0, 1, 0], [93863.75, 127320.38, 249839.44, 0, 0, 1], [91992.39, 135495.07, 252664.93, 0, 1, 0], [119943.24, 156547.42, 256512.92, 0, 0, 1], [114523.61, 122616.84, 261776.23, 1, 0, 0], [78013.11, 121597.55, 264346.06, 0, 1, 0], [94657.16, 145077.58, 282574.31, 1, 0, 0], [91749.16, 114175.79, 294919.57, 0, 0, 1], [86419.7, 153514.11, 0.0, 1, 0, 0], [76253.86, 113867.3, 298664.47, 0, 1, 0], [78389.47, 153773.43, 299737.29, 1, 0, 0], [73994.56, 122782.75, 303319.26, 0, 0, 1], [67532.53, 105751.03, 304768.73, 0, 0, 1], [77044.01, 99281.34, 140574.81, 1, 0, 0], [64664.71, 139553.16, 137962.62, 0, 1, 0], [75328.87, 144135.98, 134050.07, 0, 0, 1], [72107.6, 127864.55, 353183.81, 1, 0, 0], [66051.52, 182645.56, 118148.2, 0, 0, 1], [65605.48, 153032.06, 107138.38, 1, 0, 0], [61994.48, 115641.28, 91131.24, 0, 0, 1], [61136.38, 152701.92, 88218.23, 1, 0, 0], [63408.86, 129219.61, 46085.25, 0, 1, 0], [55493.95, 103057.49, 214634.81, 0, 0, 1], [46426.07, 157693.92, 210797.67, 0, 1, 0], [46014.02, 85047.44, 205517.64, 1, 0, 0], [28663.76, 127056.21, 201126.82, 0, 0, 1], [44069.95, 51283.14, 197029.42, 0, 1, 0], [20229.59, 65947.93, 185265.1, 1, 0, 0], [38558.51, 82982.09, 174999.3, 0, 1, 0], [28754.33, 118546.05, 172795.67, 0, 1, 0], [27892.92, 84710.77, 164470.71, 0, 0, 1], [23640.93, 96189.63, 148001.11, 0, 1, 0], [15505.73, 127382.3, 35534.17, 1, 0, 0], [22177.74, 154806.14, 28334.72, 0, 1, 0], [1000.23, 124153.04, 1903.93, 1, 0, 0], [1315.46, 115816.21, 297114.46, 0, 0, 1], [0.0, 135426.92, 0.0, 0, 1, 0], [542.05, 51743.15, 0.0, 1, 0, 0], [0.0, 116983.8, 45173.06, 0, 1, 0]]

In [9]:
from sklearn import linear_model as lm
reg=lm.LinearRegression()
reg.fit(x,y)
print(reg.intercept_)
reg.coef_

50177.644422850906

array([ 8.06023114e-01, -2.70043196e-02,  2.69798610e-02, -9.41876104e+01,
       -5.23005912e+01,  1.46488202e+02])

In [11]:
t1=int(input('enter r&d:'))
t2=int(input('enter adminstrative:'))
t3=int(input('enter marketing:'))
s=input('enter city:')
t6=0
t5=0
t4=0
if s=='New York':
  t4=1
elif s=="California":
  t5=1
else:
  t6==1
out=reg.coef_[0]*t1+reg.coef_[1]*t2+reg.coef_[2]*t3+reg.coef_[3]*t4+reg.coef_[4]*t5+reg.coef_[5]*t6 + reg.intercept_
print("expected profit:",out)

enter r&d:165000
enter adminstrative:136000
enter marketing:471000
enter city:New York
expected profit: 192112.1976609768